/*  STYLE RESETS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

/*  FONTS  */

body {
  font-family: 'IBM Plex Sans Condensed', 'Helvetica', sans-serif;
  font-weight: 500;
  line-height: 2em;
  color: #444;
}

p {
  line-height: 1.5em;
  text-align: justify;
}

::selection {
  background:#ff3115;
  color:#fff
}

::-moz-selection {
  background:#ff3115;
  color:#fff
}

h1,
h2,
h3,
h4,
.h1,
.h3
{
	font-family: 'Teko', Tahoma, Arial, Helvetica, sans-serif;
	font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1,
.h1 {
	font-size: 50px
}

h2,
.h2 {
	font-size: 35px
}

h3,
.h3 {
	font-size: 25px
}

h4,
.h4 {
	font-size: 20px
}

.tagline {
  position: relative;
  line-height: .9em;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 2px;
  text-align: left;
  color: #ff3115;
}

.heading {
  color: #000;
  text-align: center;
  line-height: 55px;
}

a,
a:focus,
a:hover {
  color: #b1b1b1;
	text-decoration: none
}

.info-text {
  font-family: 'Teko', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  letter-spacing: 1.2pt;
  text-transform: uppercase;
}

/*  FONTAWESOME ICON STYLING */

.social-icon {
  width: 1.5em;
  height: 1.5em;
  padding: .25em;
  margin: .25em;
  text-align: center;
  text-decoration: none;
  border-radius: 30%;
  color: #ff3115;
  background-color: #fff;
}

.social-icon:hover {
  background-color: #dddddd;
}

.fa-map-marker-alt {
  margin-right: .5em;
  color: #ff3115;
}

/*  FLATICON STYLES  */

.flaticon-technical,
.flaticon-engine,
.flaticon-speed {
  font-size: 100px;
  color: #ff3115;
}

/* SCROLLBAR STYLING */

body::-webkit-scrollbar {
  width: .5em;
}
 
body::-webkit-scrollbar-track {
  background-color: #101010;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .25);
}

/*  PAGE STRUCTURE  */

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.width-container {
  width: 1180px;
  margin: 0 auto;
  max-width: 90%;
}

.inner-width-container {
  width: 800px;
  margin: 0 auto;
  max-width: 90%;
}

.ptb {
  padding-top: 1em;
  padding-bottom: .25em;
}

/*  HEADER  */

.top-bar {
  position: relative;
  height: 50px;
  line-height: 50px;
  max-width: 100%;
  font-size: .9rem;
  font-weight: 800;
  color:rgba(255, 255, 255, 80);
  background-color: #101010;
}

.inner-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

.top-call {
  padding-left: .5em;
  padding-right: 2.5em;
}

.inner-top-nav {
  display: flex;
  padding: 15px 0;
}

.navbar {
  position: relative;
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.nav-items {
  font-family: 'Teko', sans-serif; 
  font-size: 1.2rem;
  letter-spacing: 3px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}

.nav-items>li>a {
  padding: 9px 15px 7px;
  text-decoration: none;
	color: #fff;
}

.nav-items>li>a:hover {
  border-bottom: 3px solid #ff3115;
}

.logo {
  position: relative;
  width: 250px;
}

#ham-wrapper {
  display: none;
  overflow: hidden;
}

/*  MAIN  */

.headline {
  font-size: 4em;
  line-height: .85em;
}

.hero-image {
  width: 100%;
  position: relative;
  background-image: url(../images/proven-performance-bike-front.png);
  background-origin: initial;
  background-position: top center; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-image::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
}

.hero-text {
  position: relative;
  text-align: center;
  color: #fff;
}

.hero-banner {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-bottom: 20px;
  margin: 0 auto;
  width: 800px;
  height: 50vh; 
  max-width: 100%;
  min-height: 100%; 
}

.hero-banner > p {
  text-align: justify;
  line-height: 1.75em;
  font-size: 1.1em;
  color: rgb(191, 191, 191);
}

.hero-subtext {
  width: 70%;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 auto;
  padding: 0 50px;
}

.split {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

.split-format-left-side {
  display: block;
  position: relative;
  line-height: 40px;
  text-align: right;
  padding-right: 2em;
}

.split-format-right-side {
  display: block;
  position: relative;
  padding-left: 30px;
}

.separator {
  position: absolute;
  display: block;
  width: 1px;
  height: 82%;
  background-color: #bebbbf;
  top: 7%;
  right: -1px;
}

.about {
  width: 100%;
  position: relative;
}

.about-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 5em 1.5em 1.5em 1.5em;
}

.about-container > p {
  margin-top: 1.25em;
}

.about-atv-img {
  max-width: 90vw;
}

.tagline-body {
  color: #ff3115;
}

.call-btn {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  width: 30vw;
  background-color: #ff3115;
  color: #fff;
}

.call-btn-small {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  height: 50px;
  color: #fff;
}

.call-btn:hover {
  background-color: #e22b13;
}

.spacing {
  letter-spacing: 9px;
}

.call-to-action {
  padding-top: 5em;
  padding-bottom: 3em;
  background-color: #101010;
}

.cta-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.services {
  position: relative;
  display: block;
  padding: 0 0 5em 0;
  background-color: #fff;
}

.services-item > .heading {
  padding: .5em 0;
}

/*  GRID FOR SERVICES ITEMS  */

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2em;
  padding-top: 3em;
}

/*  GRID SUPPORT FOR IE10-IE11  */

@media all and (-ms-high-contrast:none) {
  .services-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: repeat(3, 1fr);
  }

  .service-1 {
    -ms-grid-row: 1;
        grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
        grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .service-2 {
    -ms-grid-row: 2;
        grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
        grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .service-3 {
    -ms-grid-row: 3;
        grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
        grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

.services-item {
  padding: 0px 25px;
  text-align: center;
  background-color: #fff;
}

/*  FOOTER  */
footer {
  background: #101010;
  color: #b1b1b1;
}

.socials-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials {
  padding-left: .5em;
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2em;
  padding: 2em;
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
}

.contact-left {
  padding-left: 5em;
}

.contact-right {
  padding-left: 2em;
}

.bottom-footer {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  background: #000;
}

.inline {
  display: inline-block;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  color: #ff3115;
}

/*  MOBILE STYLES  */

@media (max-width: 859px) {
  .top-call {
    display: none;
  }

  .logo {
    width: 200px;
  }

  #ham-wrapper {
    display: block;
  }

  .ham {
    position: absolute;
    z-index: 100;
    top: 6em;
    right: 2.5em;
    height: 3em;
    width: 3em;
    padding: .5em;
    color: #ff3115;
    cursor: pointer;
  }

  .minus {
    display: block;
    position: absolute;
    z-index: 100;
    top: 6em;
    right: 2.5em;
    height: 3em;
    width: 3em;
    padding: .5em;
    color: #ff3115;
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    z-index: 100;
    top: 150px;
    right: 0px;
    display: none;
    justify-content: space-evenly;
    width: 100%;
    padding: 9px 15px 3px;
  }

  .nav-items {
    overflow: hidden;
  }

  .nav-items>li>a {
    padding: 0px;
    text-decoration: none;
    color: #fff;
  }

  .show {
    display: flex;
    overflow: hidden;
  }

  .hide {
    display: none;
  }

  .tagline {
    font-size: 1.25em;
  }

  .services-container {
    display: flex;
    flex-flow: column nowrap;
  }

  .inner-top-bar {
    justify-content: space-between;
  }

  .split {
    display: inline-block;
    padding: 2em 0;
  }

  .split-format-left-side {
    max-width: 75vw;
    margin: 0 auto;
    text-align: center;
    padding-right: 0;
  }

  .separator {
    display: none;
  }

  .split-format-right-side {
    padding-top: .75em;
    text-align: center;
    padding-left: 0;
  }

  .hero-banner > p {
    line-height: 1.5em;
    font-size: 1em;
  }

  .hero-subtext {
    width: 100%;
  }

  .cta-text {
    line-height: 50px;
    padding: 0 1em;
  }

  .call-btn {
    width: 50vw;
    font-size: 1.1em;
    margin-top: 1em;
  }

  .contact {
    width: 350px;
    grid-gap: .25em;
  }

  .contact-left {
    padding-left: 0;
  }
  
  .contact-right {
    padding-left: 0;
  }
}

/*  MOBILE STYLES FOR iPHONE S/SE  */ 

@media (max-width: 349px) {
  p {
    font-size: .8em;
  }

  .info-text {
    font-size: .78em;
  }

  .h1 {
    font-size: 2.5em;
    line-height: .75em;
  }

  .split {
    padding: 1em 0;
  }

  .tagline {
    font-size: .8em;
  }

  .hero-banner > p {
    line-height: 1.3em;
    font-size: .8em;
  }

  .logo {
    width: 175px;
  }

  .navbar {
    top: 130px;
    padding: 0;
  }

  .nav-items {
    font-size: .8em;
  }

  .split-format-right-side {
    padding-top: .75em;
    text-align: center;
  }

  .hero-subtext {
    padding: 0 30px;
  }

  .cta-text {
    padding: 0 .25em;
  }

  .call-btn {
    width: 80vw;
    font-size: 1.25em;
  }

  .contact {
    width: 350px;
    grid-gap: .25em;
  }
}