@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Rajdhani:wght@700&family=Source+Sans+Pro&family=Teko&display=swap');


/*  STYLE RESETS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

/*  FONTS  */

body {
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  line-height: 1.4;
  color: #444;
}

::selection {
  background:#ff3115;
  color:#fff
}

::-moz-selection {
  background:#ff3115;
  color:#fff
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Teko', Tahoma, Arial, Helvetica, sans-serif;
	font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1,
.h1 {
	font-size: 50px
}

h2,
.h2 {
	font-size: 35px
}

h3,
.h3 {
	font-size: 25px
}

h4,
.h4 {
	font-size: 20px
}

h5,
.h5 {
	font-size: 18px
}

h6,
.h6 {
	font-size: 16px
}

.tagline {
  position: relative;
  line-height: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: .4em;
  padding-left: 30px;
  text-align: left;
  color: #ff3115;
}

.heading {
  color: #000;
}

p {
	margin: 0 0 12.5px
}

a,
a:focus,
a:hover {
  color: #fff;
	text-decoration: none
}

.info-text {
  font-family: 'Teko', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  letter-spacing: 1.2pt;
  text-transform: uppercase;
}

p {
	margin: 0 0 30px
}

/*  FONTAWESOME ICON STYLING */

.social-icon {
  width: 1.5em;
  height: 1.5em;
  padding: 5px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 30%;
  color: #ff3115;
  background-color: #fff;
}

.social-icon:hover {
  background-color: #dddddd;
}

.fa-map-marker-alt {
  margin-right: .5em;
}

/*  FLATICON STYLES  */

.flaticon-technical,
.flaticon-engine,
.flaticon-speed {
  font-size: 100px;
  color: #ff3115;
}

/*  PAGE STRUCTURE  */

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.width-container {
  width: 1180px;
  margin: 0 auto;
  max-width: 90%;
}

/*  HEADER  */

.top-bar {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  height: 50px;
  line-height: 50px;
  max-width: 100%;
  font-size: .9rem;
  font-weight: 800;
  color:rgba(255, 255, 255, 80);
  background-color: #101010;
}

.inner-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

.inner-top-nav {
  display: flex;
  padding: 15px 0;
}

.navbar {
  position: relative;
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.nav-items {
  font-family: 'Teko', sans-serif; 
  font-size: 1.2rem;
  letter-spacing: 3px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}

.nav-items>li>a {
  padding: 9px 15px 7px;
  text-decoration: none;
	color: #fff;
}

.nav-items>li>a:hover {
  border-bottom: 3px solid #ff3115;
}

.logo {
  position: relative;
  width: 250px;
}

#ham-wrapper {
  display: none;
  overflow: hidden;
}

/*  MAIN  */

.hero-image {
  width: 100%;
  position: relative;
  background-image: url(../images/proven-performance-hero.png);
  background-origin: initial;
  background-position: top center; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-image::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.85);
}

.hero-text {
  position: relative;
  text-align: center;
  color: #fff;
}

.hero-banner {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-bottom: 20px;
  margin: 0 auto;
  width: 800px;
  height: calc(100vh - 150px); 
  max-width: 100%;
  min-height: 100%; 
}

.hero-banner > p {
  line-height: 1.75em;
  font-size: 1.1em;
  color: rgb(191, 191, 191);
}

.hero-subtext {
  width: 70%;
  margin: 0 auto;
  padding: 0 50px;
}

.split {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

.split-format-left-side {
  display: block;
  position: relative;
  line-height: 40px;
  text-align: right;
  padding: 0 30px;
}

.split-format-right-side {
  display: block;
  position: relative;
}

.separator {
  position: absolute;
  display: block;
  width: 1px;
  height: 82%;
  background-color: #bebbbf;
  top: 7%;
  right: -1px;
}

.call-btn {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  background-color: #ff3115;
  color: #fff;
}

.call-btn:hover {
  background-color: #e22b13;
}

.spacing {
  letter-spacing: 9px;
}

.call-to-action {
  padding: 3em 0px;
  background-color: #101010;
}

.cta-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.services {
  position: relative;
  display: block;
  padding: 1.5em 0px;
  background-color: #fff;
}

/*  GRID FOR SERVICES ITEMS  */

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

/*  GRID SUPPORT FOR IE10-IE11  */

@media all and (-ms-high-contrast:none) {
  .services-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: repeat(3, 1fr);
  }

  .service-1 {
    -ms-grid-row: 1;
        grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
        grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .service-2 {
    -ms-grid-row: 2;
        grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
        grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .service-3 {
    -ms-grid-row: 3;
        grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
        grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

.services-item {
  padding: 0px 25px;
  text-align: center;
  background-color: #fff;
}


/*  FOOTER  */
footer {
  background: #101010;
  color: #b1b1b1;
}

.socials-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials {
  padding-left: .5em;
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
  padding: 50px 0;
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
}

.phone {
  margin-top: 1em;
}

.bottom-footer {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  background: #000;
}

.inline {
  display: inline-block;
}

.footer-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  color: #ff3115;
}

/*  MOBILE STYLES  */

@media (max-width: 859px) {
  #ham-wrapper {
    display: block;
  }

  .ham {
    position: absolute;
    z-index: 100;
    top: 75px;
    right: 20px;
    height: 3em;
    width: 3em;
    padding: .5em;
    background: #fff;
    color: #ff3115;
    cursor: pointer;
  }

  .minus {
    display: block;
    position: absolute;
    z-index: 100;
    top: 75px;
    right: 20px;
    height: 3em;
    width: 3em;
    padding: .5em;
    background: #fff;
    color: #ff3115;
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    z-index: 100;
    top: 150px;
    right: 0px;
    display: none;
    justify-content: space-evenly;
    width: 100%;
    padding: 9px 15px 3px;
  }

  .nav-items {
    overflow: hidden;
  }
  .nav-items>li>a {
    padding: 0px;
    text-decoration: none;
    color: #fff;
  }

  .show {
    display: flex;
    overflow: hidden;
  }

  .show-minus {
    display: none;
  }

  .services-container {
    display: flex;
    flex-flow: column nowrap;
  }

  .inner-top-bar {
    justify-content: center;
  }
  .split {
    display: inline-block;
    padding: 2em 0;
  }
  .split-format-left-side {
    padding: 0 3em;
    text-align: center;
  }

  .separator {
    display: none;
  }

  .split-format-right-side {
    padding-top: .75em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
  }
  .hero-subtext {
    width: 100%;
  }
  .cta-text {
    line-height: 50px;
    padding: 0 1em;
  }
  .call-btn {
    margin-top: 1em;
  }
  .contact {
    padding: 50px;
  }
}

/*  MOBILE STYLES FOR iPHONE S/SE  */ 

@media (max-width: 349px) {
  .info-text {
    font-size: 12px;
  }

  .h1 {
    font-size: 36px;
  }

  .tagline {
    font-size: 20px;
  }

  .hero-banner > p {
    font-size: 14px;
  }

  .logo {
    width: 200px;
  }

  .navbar {
    top: 130px;
    padding: 0;
  }

  .split-format-left-side {
    padding: 0 2em;
  }

  .split-format-right-side {
    padding-top: .75em;
    padding-left: 0;
    padding-right: .75em;
    text-align: center;
  }

  .hero-subtext {
    padding: 0 30px;
  }

  .cta-text {
    padding: 0 .25em;
  }

  .call-btn {
    width: 250px;
  }

  .contact {
    padding: 50px 0 50px 30px;
  }
}