@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Teko&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body > * {
  text-align: center;
}

/*  FONTS  */

body {
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  line-height: 1.4;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Teko', Tahoma, Arial, Helvetica, sans-serif;
	font-weight: 600;
	line-height: 1;
	color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1,
.h1 {
	font-size: 50px
}

h2,
.h2 {
	font-size: 35px
}

h3,
.h3 {
	font-size: 25px
}

h4,
.h4 {
	font-size: 20px
}

h5,
.h5 {
	font-size: 18px
}

h6,
.h6 {
	font-size: 16px
}

p {
	margin: 0 0 12.5px
}

a,
a:focus,
a:hover {
  color: #fff;
	text-decoration: none
}

.lead {
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4
}

.info-text {
  font-family: 'Teko', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  letter-spacing: 1.2pt;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

p {
	margin: 0 0 30px
}

/*  FONTAWESOME ICON STYLING */

.social-icon {
  width: 1.5em;
  height: 1.5em;
  padding: 5px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 30%;
  color: #ff3115;
  background-color: #fff;
}

.social-icon:hover {
  background-color: #dddddd;
}

.fa-crown {
  padding-bottom: 20px;
  font-size: 100px;
  color: #262626;
}

/*  FLATICON STYLES  */

.flaticon-technical,
.flaticon-engine,
.flaticon-speed {
  font-size: 100px;
  color: #ff3115;
}

/*  PAGE STRUCTURE  */

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.width-container {
  width: 1180px;
  margin: 0 auto;
  max-width: 90%;
}

/*  HEADER  */

.header-wrapper {
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
  background: #fff;
}

.top-bar {
  display: flex;
  flex-flow: column wrap;
  height: 50px;
  line-height: 50px;
  max-width: 100%;
  font-size: .9rem;
  font-weight: 800;
  color:rgba(255, 255, 255, 80);
  background-color: #ff3115;
}

.inner-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.inner-top-nav {
  display: flex;
  padding: 15px 0;
}

.navbar {
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.nav-items {
  font-family: 'Teko', sans-serif; 
  font-size: 1.2rem;
  letter-spacing: 3px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}

.nav-items>li>a {
  padding: 9px 15px 7px;
  text-decoration: none;
	color: #262626;
	background-color: #fff;
}

.nav-items>li>a:hover {
  border-bottom: 3px solid #ff3115;
}

.logo {
  width: 250px;
}

#ham-wrapper {
  display: none;
}

/*  MOBILE MENU  */

@media (max-width: 859px) {
   #ham-wrapper {
    display: inline-block;
  }

  .ham {
    position: absolute;
    z-index: 100;
    top: 75px;
    right: 20px;
    height: 50px;
    width: 50px;
    background: #fff;
    cursor: pointer;
    border: 2px solid #000;
  }

  .ham::before {
    content:'\f0c9';
    font-family: fontAwesome;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 48px;
    text-align: center;
    font-size: 25px;
    color: #ff3115;
}

  .open .ham::before {
    content: '\f068';
    font-family: fontAwesome;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 48px;
    text-align: center;
    font-size: 25px;
    color: #ff3115;
    transition: width .3s .5s ease, border-radius 1.1s ease;
  }
  
  .navbar {
    display: none;
    justify-content: space-evenly;
    width: 100%;
    background: #000;
    padding: 9px 15px 3px;
  }

  .nav-items {
    position: absolute;
    z-index: 100;
    top: 150px;
    right: 0px;
  }

  .nav-items>li>a {
    padding: 0px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
  }

  .show {
    display: flex;
  }
}

/*  MAIN  */

.main {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  justify-content: flex-end;
}

.hero-image {
  height: 450px;
  position: relative;
  background-image: url(/images/proven-performance-hero.png);
  background-origin: initial;
  background-position: top center; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-image::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
}

.hero-text {
  position: relative;
  color: #fff;
}

.subheading {
  color: rgba(255,255,255,0.8);
}

.hero-banner {
  text-align: right;
  padding-bottom: 20px;
}

.hero-call {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 1em;
  width: 250px;
  color: #fff;
}

.hero-button {
  height: 50px;
  line-height: 55px;
  background-color: #ff3115;
}

.hero-button:hover {
background-color: #e22b13;
}

.spacing {
  letter-spacing: 9px;
}

.spacing-phone {
  letter-spacing: 5px;
}

.call-to-action {
  padding: 3em 0px;
  background-color: #101010;;
}

.services {
  position: relative;
  display: block;
  padding: 1.5em 0px;
  background-color: #fff;
}

/*  GRID FOR SERVICES ITEMS  */

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

/*  FLEXBOX SINGLE COLUMN FOR SMALLER SCREENS  */

@media (max-width: 859px) {
  .services-container {
    display: flex;
    flex-direction: column;
  }
}

/*  GRID SUPPORT FOR IE10-IE11  */

@media all and (-ms-high-contrast:none) {
  .services-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: repeat(3, 1fr);
  }

  .service-1 {
    -ms-grid-row: 1;
        grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
        grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .service-2 {
    -ms-grid-row: 2;
        grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
        grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .service-3 {
    -ms-grid-row: 3;
        grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
        grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

.services-item {
  padding: 0px 25px;
  text-align: center;
  background-color: #fff;
}


/*  FOOTER  */
footer {
  background: #101010;
  color: #b1b1b1;
  padding: 30px 0;
}

.socials-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials {
  padding-left: .5em;
}